div{
    width: 200px;
    background-color: #fe6d73;
}

h1{
    background-color:#f94144 ;
    width: 100px;
    margin-left:10px;
    border-radius: 10px;
    padding:5px;
}

#one{
    background-color: #277da1;
    border-width: 5px;
    border-color: #053c5e;
    border-style: solid;
    box-sizing:border-box;
    border-radius: 10%;
    padding: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

#two{
    background-color: #43aa8b;
    border-width: 5px;
    border-color:#83c5be;
    border-style:double;
    box-sizing: border-box;
    border-left-width: 8px;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 10px;
}

#three{
    background-color: #74c69d;
    border: 5px solid #9bf6ff;
    border-left-style: dashed;
    box-sizing: border-box;
    border-radius:10%;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    padding: 0px 20px 0px 20px;
    margin-left:10px;
    border-radius: 5px;
}

button:hover{
    background-color: #277da1;
    color:#9bf6ff ;
}