*/*{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
}
*/

body{
    background-color:rgb(199, 199, 248) ;
}

h1,h2{
    color: black;
}

hr{
    background-color:red;
}

button{
    font-size: 20px;
    background-color:cadetblue ;
    color: aliceblue;
}

#Signup{
    background-color: darkgoldenrod;
    color: rgb(255, 253, 253);
}

span{
    color: blue;
}

.tag{
    color: rgb(38, 8, 185);
    background-color: rgb(239, 239, 75);
}

.post a{
    color:rgb(243, 13, 63);
    font-style: bold;
    text-decoration: none;
}

/*adjacent selectors*/
input + button{
    background-color: brown;
}

h2 + button{
    background-color: maroon;
}

/*direct child*/
footer>a{
    color:crimson;
}

/*attribute selector*/
input[type="password"]{
    color:gold;
    background-color: black;
}

section.post{
    color: gold;
}

a[href*="#home"]{
    color:rgb(224, 145, 41);
}

a:hover{
    color:crimson;
    background-color: black;
}

button:hover{
    color:red;
    background-color: black;
}

button:active{
    color:chartreuse;
}

.post button:hover{
    color:aquamarine;
    background-color: black;
}

.post button:active{
    background-color:rgb(166, 197, 75);
    color:rgb(125, 3, 3);
}

.post a:hover{
    text-decoration:underline solid;
}

#Signup:hover{
    color:greenyellow;
    background-color: black;
}

#Signup:active{
    color: white;
    background-color: greenyellow;
}

.post a:active{
    color:aquamarine;
    background-color: cadetblue;
}

.post:nth-of-type(2n){
    background-color: rgb(106, 106, 238);
}

h2::first-letter{
    font-size: 30px;
}

p::first-line{
    color:blueviolet;
}

p::selection{
    background-color: rgb(204, 226, 34);
}

#search{
    color:rgba(178, 15, 69, 0.965);
    background-color:rgb(199, 199, 248);
}

/*button{
    background-color:teal !important;
}*/