body{
    background-color: #003566 ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    background: none;
    color: #ff9f1c;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover{
    border-color: #ccff33;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #ccff33;
    transform: translateY(-0.25em);
    cursor: pointer;
}

